@import url(generales.css);

.contenedorFormulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    height: 438px;
    background-color: var(--txt-blanco);
    gap: 12px;
    padding: 2rem 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 8px 18.7px -3px rgba(0, 0, 0, 0.20);
}

.campo {
    padding: 8.9px 17.3px 8.9px 15.6px;
    width: 100%;
    border-radius: 8px;
    border: solid 1px var(--borde-input);
    color: var(--placeholder);
    font-size: 9.8px;
}

.campoCode {
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden {
    display: none;
}

::placeholder {
    color: var(--placeholder);
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 48px;
    color: var(--txt-logotipo);
}

a {
    text-decoration: none;
    color: var(--color-accion);
    font-size: 16px;
}

.link {
    font-size: 15, 4px;
}

h3 {
    color: var(--txt-negro);
}

.fraseLink {
    display: flex;
    gap: 5px;
}

.btn {
    color: var(--bg-body);
    padding: 4px 9.4px 4px 9.4px;
    background: var(--color-accion);
    border: none;
    border-radius: 8px;
    max-width: 244px;
    width: 100%;
    height: 32px;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.remarcadoError {
    border: 1px solid #FF5656;
}

input:focus {
    border-bottom: 2px solid var(--color-accion);
    transition: 0.3s;
    outline: none;
}

input.remarcadoError:focus {
    border: 1px solid #FF5656;
    border-bottom: 2px solid #FF5656;
}

.errorMsg {
    font-weight: 500;
    color: #FF5656;
    font-size: 14px;
    font-family: 'Poppins';
    text-align: center;
}