<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/css/landing.css">
    <link rel="icon" type="image/png" sizes="32x32" href="views/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="views/img/favicon/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="views/img/favicon/apple-touch-icon.png">
    <link rel="manifest" href="views/img/favicon/site.webmanifest">
    <title>COALA</title>
</head>

<body class="josefin-sans-normal">
    <header>
        <div class="logo_secundario">
            <img src="views/img/branding/logo_secundario.png" alt="">
        </div>

        <section class="inicios_sesion">
            <a href="?slug=login" class="inicio_sesion">Iniciar sesión</a>
            <a href="?slug=register" class="registrarse">Registrarme</a>
        </section>
    </header>
    <main>
        <section class="eslogan">
            <div class="contenedor_logo">
                <img src="views/img/branding/logo_koala.png" alt="">
            </div>
            <div class="eslogan_texto">
                <span>Lo que sabés, lo compartís.</span>
                <span>Lo que no, lo descubrís.</span>
            </div>
            <a href="#carta_informacion">
                <button class="boton_explorar_coala">Explorar COALA</button>
            </a>
        </section>

        <section class="informacion_de_coala">
            <article class="carta_informacion" id="carta_informacion">
                <div class="contenedor_imagen_informacion">
                    <img src="views/img/landing/imagen_comunidad.png" alt="">
                </div>
                <section class="informacion">
                    <h2>Comunidad</h2>
                    <p>Una comunidad que aprende unida
                        Cada apunte compartido es una herramienta más
                        para crecer.
                        Aprendé con otros, desde otros puntos de vista, y
                        sin perder ni una hoja más.</p>

                </section>

            </article>
            <article class="carta_informacion">
                <div class="contenedor_imagen_informacion">
                    <img src="views/img/landing/imagen_alumnos.png" alt="">
                </div>
                <section class="informacion">
                    <h2>Alumnos</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis exercitationem iste, itaque
                        voluptatem cum distinctio voluptas qui, laudantium culpa unde provident. Excepturi distinctio
                        exercitationem, quas odio perspiciatis reiciendis laborum earum?</p>

                </section>

            </article>
            <article class="carta_informacion">
                <div class="contenedor_imagen_informacion">
                    <img src="views/img/landing/imagen_profesor.png" alt="">
                </div>
                <section class="informacion">
                    <h2>Profesores</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis exercitationem iste, itaque
                        voluptatem cum distinctio voluptas qui, laudantium culpa unde provident. Excepturi distinctio
                        exercitationem, quas odio perspiciatis reiciendis laborum earum?</p>

                </section>

            </article>

        </section>
    </main>
    <footer>
        <span>&copy; COALA</span>
    </footer>

</body>

</html>