<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/css/general/formulario.css">
    <link rel="stylesheet" href="views/css/register.css">
    <title>Registro</title>
</head>

<body>
    <section class="main">
        <div class="logo">
        </div>
        <section class="contenedorFormulario">
            <h1 class="poppins-bold">COALA</h1>
            <h3 class="poppins-semibold">Registrate</h3>
            <form method="post" id="formulario">
                <div class="nombreCompleto">
                    <input type="text" id="nombre" class="campo poppins-semibold" placeholder="Nombre">
                    <input type="text" id="apellido" class="campo poppins-semibold" placeholder="Apellido">
                </div>
                <input type="email" id="email" class="campo poppins-semibold" placeholder="Correo electrónico">
                <input type="password" id="contraseña" class="campo poppins-semibold" placeholder="Contraseña">
                <input type="password" id="contraseña2" class="campo poppins-semibold" placeholder="Confirmar contraseña">
                <input type="submit" value="Entrar" class="btn poppins-semibold">
                <div class="fraseLink">
                    <span class="poppins-regular">¿Ya tienes cuenta?</span><a href="?slug=login"
                        class="link poppins-bold">Iniciar Sesión</a>
                </div>
                <div class="errorMsg" id="errorGeneral"></div>
            </form>
        </section>
    </section>
</body>
<script src="views/js/validacionFormulario.js"></script>

</html>