<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mochila.css">
</head>

<body>
    <article class="apunte_mochila">
        <header class="encabezado_apunte">
            <section class="info_encabezado_apunte">
                <h2>Resumen de la Revolucion Francesa</h2>
                <p>10/05/2025</p>
                <p>Historia - 3° año | Prof. Gómez</p>
            </section>
            <figure><img src="https://placehold.co/80" alt=""></figure>
        </header>
        <section class="cuerpo_apunte">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat risus risus, in lobortis purus
                pretium
                et. Etiam facilisis lorem non faucibus faucibus.</p>
            <p>Contiene 2 archivos</p>
        </section>
        <footer>
            <p>⭐ 4.7 | 👁️ 123</p>
            <button>Ver mas</button>
        </footer>
    </article>
</body>

</html>