:root{
    --bg-body: #f7f7f7;
    
    --bg-boton-verde: #A7D129;
    --bg-celeste: #00a1db;

    --txt-negro: #000000;
    --txt-celeste: #00a1db;
    --txt-blanco: #ffffff;

    --principal: #00AEEF;
    --placeholder: #B7B7B7;
    --primario: #56AEFF;
    --borde: #D8D8D8;
}