<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../inicio/css/inicio.css">
    <link rel="stylesheet" href="css/mochila.css">
    <title>Panel</title>
</head>

<body>
    <header>
        <div class="contenedor_logo_secundario">
            <img src="../inicio/img/logo_secundario.png" alt="">
        </div>

        <nav class="barra_navegacion">
            <a href="#">Inicio</a>
            <a href="#">Explorar</a>
            <a href="#">Mochila</a>
            <a href="#">Clases</a>
        </nav>


        <section class="perfil">
            <img src="../inicio/img/foto_perfil.jpg" alt="foto de perfil">
        </section>
    </header>

    <main>
        <section class="buscador_subir_apunte">
            <div class="contenedor_buscador">
                <h2>¡Hola, Pepe!</h2>
                <input type="text" placeholder="Buscar..." class="input_buscador">
            </div>
            <div class="boton_subir_apunte">
                <button>Subir apunte</button>
            </div>
        </section>

        <h3>Apuntes favoritos</h3>
        <section class="contenedor_apuntes">

            <article class="apunte_mochila">
                <header class="encabezado_apunte">
                    <section class="info_encabezado_apunte">
                        <h2>Resumen de la Revolucion Francesa</h2>
                        <p>10/05/2025</p>
                        <p>Historia - 3° año | Prof. Gómez</p>
                    </section>
                    <figure><img src="" alt=""></figure>
                </header>
                <section class="cuerpo_apunte">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat risus risus, in lobortis
                        purus
                        pretium
                        et. Etiam facilisis lorem non faucibus faucibus.</p>
                    <p>Contiene 2 archivos</p>
                </section>
                <footer>
                    <p>⭐ 4.7 | 👁️ 123</p>
                    <button>Ver mas</button>
                </footer>
            </article>



        </section>
    </main>

    <script src="js/mochila.js"></script>
</body>
</html>