@import url(general/generales.css);

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;

		.logo_secundario {
			width: 110px;
			height: auto;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.inicios_sesion {
			.inicio_sesion {
				background-color: var(--bg-celeste);
				border: solid 2px var(--bg-celeste);
				text-decoration: none;
				padding: 8px 20px;
				border-radius: 5px;
				color: #ffffff;
			}

			.registrarse {
				background-color: transparent;
				border: solid 2px var(--bg-boton-verde);
				text-decoration: none;
				padding: 8px 20px;
				border-radius: 5px;
				color: var(--bg-boton-verde);
			}
		}
	}

	main {
		display: flex;
		flex-direction: column;

		.eslogan {
			height: calc(100vh - 60px);
			background-color: #F7FAFC;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.eslogan_texto {
				display: flex;
				flex-direction: column;

				span {
					font-weight: bolder;
					font-size: 25px;
					margin: 0.2em;
				}
			}

			.contenedor_logo {
				width: 250px;
				height: 250px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.boton_explorar_coala {
				border: none;
				background-color: var(--bg-boton-verde);
				color: var(--txt-blanco);
				padding: 10px 12px;
				border-radius: 5px;
				margin: 1em;
			}
		}

		.informacion_de_coala {
			background-color: #F7FAFC;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1em;

			.carta_informacion:nth-child(even) {
				flex-direction: row-reverse;
			}

			.carta_informacion {
				display: flex;
				width: 80%;

				.contenedor_imagen_informacion {
					width: 50%;
					height: 300px;
					overflow: hidden;
					border-radius: 20px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.informacion {
					background-color: #F7FAFC;
					max-width: 50%;
					display: flex;
					flex-direction: column;
					align-items: start;
					padding: 1em;

					h2 {
						font-size: 35px;
					}

					p {
						font-size: 18px;
					}
				}
			}
		}
	}

	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5em;
		font-size: 16px;

	}
}