<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_apunte.css">
    <title>Document</title>
</head>
<body>
    <article class="apunte">
        <figure>
    
        </figure>
        <section class="informacion">
            <h2>Titulo</h2>
            <p>Materia-Escuela</p>
            <p>Año puntuación</p>
        </section>
    </article>
</body>
</html>


