@import url(general/generales.css);

:root 
{
    --fondo: #ffffff;
    --linea: #b8b8b8;
    --titulo: #2b2b2b;
    --detalle: #8d8d8d;
}

#sidebar_activo {
    display: none;
}


.abrir_sidebar {
    font-size: 1.5em;
    cursor: pointer;
    padding: 0.5em;
    background-color: #b3d4f0;
    border-radius: 14px;
    margin-left: 20px;
    color: #2f3e4d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.escuelas_materias {
    position: fixed;
    top: 4.3em;
    left: 0;
    width: 12em;
    height: 100%;
    background-color: #cbe4f7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    z-index: 100;
    color: #2f3e4d;
    border-radius: 0 20px 0 0;
    gap: 1em;
}
nav a{
    text-decoration: none;
    color: #2f3e4d;
    transition: background-color 0.4s ease, color 0.4s ease;
}
#sidebar_activo:checked ~ .escuelas_materias {
    transform: translateX(0);
}

.cerrar_sidebar {
    align-self: flex-end;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 1em;
}
nav a:hover{
    color: #87c7e3;
}
section.barra_superior {
    display: flex;
    align-items: center;
}
main .buscador_subir_apunte{
        width: 100%;
     
}

.contenedor_apuntes {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}




/* nuevos */
.filtros {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--bg-boton-verde);
    color: white;
    padding: 5px 9px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.dropbtn:hover {
    background-color: var(--bg-boton-verde-hover);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 100;
    margin-top: 5px;
}

.dropdown-content a {
    color: #333;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    transition: background 0.2s;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
    border-radius: 8px;
}


.dropdown:focus-within .dropdown-content {
    display: block;
}
