@import url(general/colores.css);

.main{
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding-right: 20vw;
    align-items: center;
}
.logo{
    flex: 0 0 45%;
    background: url("../img/branding/logo_koala.png") no-repeat center left;
    height: 100vh;
    background-size: auto 136%;
    background-position: -26em center;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
}



.successMsg {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    /* padding: 0.75rem; */
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.contenedorFormulario{
    position: relative;
}


.btn_volver {
    position: absolute;
    top: 20px;  
    left: 20px;
}

.btn_volver_login {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
    padding: 3px 7px;
    border-radius: 22%;
    border: 1px solid #ccc;
    font-size: 1em;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn_volver_login:hover {
    background-color: #f0f0f0;
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


@media screen and (max-width: 750px) {
    .main{
        justify-content: center;
        padding: 2rem;
    }
    .logo{
        display: none;
    }
    .contenedorFormulario{
        padding:  2rem 2rem 2rem;
    }
}
@media screen and (max-width: 1920px) {
    .logo{
         background-position: -31em center;
    }
}
